@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: hsl(234, 90%, 60%);
    --secondary: #f3f3ff;
    --border: #0000ff33;
    --gray: hsl(224, 7%, 36%);
    --gray-bg: hsl(224, 19%, 97%);
    --gray-border: hsl(224, 20%, 94%);
}

html {
    background-color: white;
}

body {
    margin: 0 auto;
    padding: 0;

    width: 100%;
    max-width: 80vw;

    line-height: 1.5;

    font-family: "Courier Prime", monospace;
}

@media (max-width: 768px) {
    body {
        max-width: unset;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.chaos-markdown {
    counter-reset: figureCounter;
    
    a {
        color: var(--primary);
        font-style: italic;
        border-bottom: 1px solid var(--border);
    }

    h1, h2, h3{
        font-family: Arial;
    }
    h1 {
        font-size: 1.8rem;
    }

    :not(pre) code {
        padding: 3px 6px;
        
        color: var(--primary);
        background: var(--secondary);
        border-radius: 3px;
    }
    
    pre{
        padding: 12px;
        
        border-radius: 6px;

        code{
        }
    } 
    
    table{
        display: block;
        
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        border-radius: 12px;
        overflow-x: auto;
        
        td, th{
            padding: 6px 12px;
            border-bottom: 1px solid #ddd;
        }
        
        thead{
            background: #eee;
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;

        counter-increment: figureCounter;
        img {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            border: 1px solid #eee;
            
            @media(min-width: 768px) {
                width: 50%;
            }
        }

        figcaption {
            margin-top: 8px;
            color: gray;
            font-family: Arial, sans-serif;
            font-size: 0.8rem;
            text-align: center;

            &::before {
                content: "FIG " counter(figureCounter) ". ";
                font-weight: bold;
            }
        }
    }

    .img-flex-container {
        display: flex;
        gap: 20px;
        width: 100%;
        margin: 24px 0;

        figure {
            flex: 1;
            margin: 0;
            
            img{
                width: 100%;
            }
        }
    }
}