*{
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: hsl(234, 90%, 60%);
    --secondary: hsla(234, 90%, 60%, 0.1);
    --border: #0000ff33;
    --gray: hsl(224, 7%, 36%);
    --gray-bg: hsl(224, 19%, 97%);
    --gray-border: hsl(224, 20%, 94%);
}

html {
    background-color: white;
}

body {
    margin: 0 auto;
    padding: 0;

    width: 100%;
    max-width: 80vw;

    line-height: 1.5;
}

@media (max-width: 768px) {
    body {
        max-width: unset;
    }
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.expressive-code{
    margin: 12px 0;
}

.chaos-markdown {
    margin-top: 12px;
    counter-reset: figureCounter;

    a {
        display: inline-block;
        
        text-decoration: underline;
        text-decoration-color: var(--border);
        text-underline-offset: 4px;

        transition: all 0.3s ease;

        &:hover {
            background: var(--border);
        }
    }
    
    h1 {
        font-size: 1.8rem;
    }

    :not(pre) code {
        padding: 3px 6px;
        
        color: var(--primary);
        background: var(--secondary);
        border-radius: 3px;
    }
    
    pre{
        padding: 12px;
        
        border-radius: 6px;

        code{
        }
    }

    table{
        display: block;
        
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        border-radius: 12px;
        overflow-x: auto;
        
        td, th{
            padding: 6px 12px;
            border-bottom: 1px solid #ddd;
        }
        
        thead{
            background: #eee;
        }
    }

    .img-flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: stretch;
        margin: 2rem 0;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .figure-container {
            .img-wrapper img {
                @media (min-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    
    &-references{
        display: grid;
        
        >div{
            display: flex;
            align-items: start;
            gap: 12px;
        }
    }
}