@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    background-color: white;
    font-family: "Courier Prime", sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 60vw;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.chaos-markdown{
    color: #555;
    a{
        color: #555;
        font-style: italic;
        border-bottom: 1px solid #999;
    }
}