@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    background-color: white;
    font-family: "Courier Prime", serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 60vw;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.chaos-markdown{
    color: #555;
    a{
        color: #555;
        font-style: italic;
        border-bottom: 1px solid #999;
    }
}