@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: white;
}

body {
    margin: 0 auto;
    padding: 0;

    width: 100%;
    max-width: 80vw;

    line-height: 1.5;

    font-family: "Courier Prime", monospace;
}

@media (max-width: 768px) {
    body {
        max-width: unset;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.chaos-markdown {
    a {
        color: #555;
        font-style: italic;
        border-bottom: 1px solid #999;
    }

    h1, h2, h3{
        font-family: Arial;
    }
    h1 {
        font-size: 1.8rem;
    }

    :not(pre) code {
        padding: 3px 6px;
        background: #eee;
        border-radius: 3px;
    }
    
    pre{
        padding: 12px;
        
        border-radius: 6px;

        code{
        }
    } 
    
    table{
        border-collapse: collapse;
        border-radius: 12px;
        overflow: hidden;
        
        td, th{
            padding: 6px 12px;
            border-bottom: 1px solid #ddd;
        }
        
        thead{
            background: #eee;
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 0 auto;
        
        max-width: 500px;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            border: 1px solid #eee;
        }

        figcaption {
            margin-top: 8px;
            color: gray;
            font-family: Arial, sans-serif;
            font-size: 0.8rem;
            text-align: center;

            &::before {
                content: "FIG. ";
                font-weight: bold;
            }
        }
    }

    .img-flex-container {
        display: flex;
        gap: 20px;
        width: 100%;
        margin: 24px 0;

        figure {
            flex: 1;
            margin: 0;
        }
    }
}