---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
	country: "China",
	occupation: "Software Engineer",
	hobbies: ["Gaming", "Movies", "Stargazing🔭"],
};

---
<style lang="scss">
	.chaos-about{
		grid-column: 1 / 25;
		padding-top: 36px;
		
		&-intro{
			text-align: center;
			
			font-weight: lighter;
			font-family: sans-serif;
			
			p{
				margin: unset;
			}

			h1{
				margin-bottom: unset;
				color: var(--primary);
				font-weight: lighter;

				span{
					font-size: 1.5rem;
				}
			}
			
			a{
				text-decoration: underline;
				
				&:hover{
					opacity: 0.8;
				}
			}
		}
		
		&-note{
			margin-top: 12px;
			padding: 0 6px;
			width: fit-content;
			color: var(--gray);
			font-size: 0.875rem;
			border-left: 3px solid var(--gray-border);
			background-color: var(--gray-bg);
		}
		
		highlight{
			color: var(--primary);
		}
		
		h3, ul, p{
			margin: unset;
		}
		
		h3{
			margin-top: 36px;
		}
		
	}
</style>

<BaseLayout pageTitle={'About Me'}>
	<div class="chaos-about">
		<div class="chaos-about-intro">
			<h1>Yiwen Zhang <span>張怡雯</span></h1>
			<p>Frontend Developer, currently working at <a href="https://www.tsbiochem.com/">TopScience</a>.</p>
			<p>Contact me at: <a href="mailto:ibunnchou@gmail.com">ibunnchou@gmail.com</a></p>
		</div>

		<h3>HI! I'm Yiwen, a frontend developer. I ...</h3>
		<ul>
			<li>Live in {identity.country}.</li>
			<li>Love Gaming, Movies(<highlight>David Lynch</highlight> is my favorite director), Stargazing(If you love it too, watch <highlight>チ。地球の運動について</highlight>) and Ramen.</li>
		</ul>
		
		<h3>LANGUAGE PROFICIENCY</h3>
		<p>I have native fluency in <highlight>Chinese</highlight>, and can speak in conversational <highlight>English</highlight> and <highlight>Japanese</highlight>.</p>
		<div class="chaos-about-note">I speak a little bit of <highlight>French</highlight>, but at a very pre-school proficiency!</div>
		<h3>SKILLS</h3>
		<ul>
			<li>Frontend: HTML/CSS/JavaScript, Vue.js, Nuxt.js, React.js, Astro, Next.js</li>
			<li>Backend: Python, Golang, MySQL, Java</li>
			<li>Design: Figma, Photoshop</li>
		</ul>
	</div>
</BaseLayout>

