---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
	import.meta.glob('./posts/*.{md,mdx}', { eager: true })
);
const sortedPosts = allPosts.sort((a: any, b: any) => {
	const dateA = a.frontmatter.pubDate ? new Date(a.frontmatter.pubDate).valueOf() : 0;
	const dateB = b.frontmatter.pubDate ? new Date(b.frontmatter.pubDate).valueOf() : 0;
	return dateB - dateA;
});
---

<BaseLayout pageTitle={'Blog'}>
	<style lang="scss">
		.blog-list-container {
			max-width: 800px;
			margin: 0 auto;
			padding: 0 20px;
		}

		.blog-list {
			display: flex;
			flex-direction: column;
		}

		.empty-message {
			padding: 64px 20px;
			text-align: center;
			color: var(--gray);
			font-size: 1.125rem;
		}
	</style>

	<div class="blog-list-container">
		{sortedPosts.length > 0 ? (
			<div class="blog-list" role="list">
				{sortedPosts.map((post: any) => (
					<BlogPost post={post} />
				))}
			</div>
		) : (
			<div class="empty-message">
				No posts yet. Check back soon!
			</div>
		)}
	</div>
</BaseLayout>
