---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
	import.meta.glob('./posts/*.{md,mdx}', { eager: true })
);
const sortedPosts = allPosts.sort((a: any, b: any) => {
	const dateA = a.frontmatter.pubDate ? new Date(a.frontmatter.pubDate).valueOf() : 0;
	const dateB = b.frontmatter.pubDate ? new Date(b.frontmatter.pubDate).valueOf() : 0;
	return dateB - dateA;
});
---

<BaseLayout pageTitle={'Blog'}>
	<style lang="scss">
		.chaos-mail-inbox {
			grid-column: 1 / 25;
			max-width: 100%;
		}

		.chaos-mail-list {
			display: flex;
			flex-direction: column;
			background: white;
			min-height: 200px;

			@media (max-width: 768px) {
				border-left: none;
				border-right: none;
			}
		}

		.chaos-mail-empty {
			padding: 48px 20px;
			text-align: center;
			color: var(--gray);
			opacity: 0.6;
			font-size: 0.875rem;
		}
	</style>

	<div class="chaos-mail-inbox">
		{sortedPosts.length > 0 ? (
			<div class="chaos-mail-list" role="list">
				{sortedPosts.map((post: any) => (
					<BlogPost post={post} />
				))}
			</div>
		) : (
			<div class="chaos-mail-empty">
				No posts yet. Check back soon!
			</div>
		)}
	</div>
</BaseLayout>
