---
---

<footer>
    <span>© 2025</span>
    <a href="https://github.com/ChaosBeiduo">ChaosBeiduo</a>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;

        a{
            text-decoration: underline;
        }
    }
</style>