---
---

<footer class="flex justify-center text-gray-500 text-sm">
    <span>
        © 2025 - 2026 
        <a href="https://github.com/ChaosBeiduo">ChaosBeiduo</a>. 
        All rights reserved.
    </span>
</footer>

<style>
    footer {
        font-weight: lighter;
        a{
            text-decoration: underline;
        }
    }
</style>