---
---

<footer class="flex gap-2">
    <span>© 2025 - 2027</span>
    <a href="https://github.com/ChaosBeiduo">ChaosBeiduo</a>
</footer>

<style>
    footer {
        a{
            text-decoration: underline;
        }
    }
</style>