---
const currentPath = Astro.url.pathname;

const showProgressBar = currentPath.includes('/posts/');
---

<header class="bg-primary sticky top-0 z-50">
	<div class="container m-auto grid grid-cols-3 items-center">
		<div class="flex gap-6 text-secondary font-light">
			<a class='hover:opacity-80' aria-label="About me" href="/about/">
				ABOUT
			</a>
			<a class='hover:opacity-80' aria-label="Blog" href="/">
				BLOG
			</a>
			<a class='hover:opacity-80' aria-label="Works" href="/works/">
				WORKS
			</a>
		</div>
		<a class="flex justify-center" href="/">
			<img class="h-[36px]" src="/logo_eggshell.svg" alt="LOGO of Chaosland"/>
		</a>
		<div></div>
	</div>

	{showProgressBar && (
		<div class="progress-container">
			<div class="progress-bar"></div>
		</div>
	)}
</header>

<style lang="scss">

</style>
