---
const currentPath = Astro.url.pathname;

const isActive = (href: string) => {
    if (currentPath === href) {
        return 'active';
    }

    return '';
};
---
<header class="chaos-header">
    <nav class="chaos-nav">
        <a class={isActive('/about/')} href="/about/">[A] ABOUT ME</a>
        <a class={isActive('/')} href="/">[B] BLOG</a>
        <a href="https://www.linkedin.com/in/ibunnchou/" target="_blank">[L] LINKEDIN</a>
        <a href="https://github.com/ChaosBeiduo" target="_blank">[G] GITHUB</a>
    </nav>
</header>


<style lang="scss">
    .chaos-header {
      position: fixed;
      top: 0;

      padding: 12px 0;
    }

    .chaos-nav {
      display: flex;
      gap: 3px;

      a{
        display: flex;
        align-items: center;

        padding: 6px 12px;

        color: var(--primary);
        border-radius: 3px;
        border: 1px solid var(--border);
        background: var(--secondary);
        line-height: 1;

        backdrop-filter: blur(10px);
        
        transition: all 0.2s;

        &.active, &:hover{
          color: var(--secondary);
          background: var(--primary);
        }

        &:hover{
          opacity: 0.8;
        }
      }


    }
</style>
