---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';
const {pageTitle} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>ChaosLand: {pageTitle}</title>

        <style lang="scss">
          .awesome-chaosland{
            display: flex;
            flex-direction: column;

            padding: 12px;

            min-height: 100vh;
          }
            .chaos-wrapper{
              display: grid;
              grid-template-columns: repeat(24, 1fr);
              align-items: start;

              flex-grow: 1;
            }
        </style>
    </head>

    <body>
        <div class="awesome-chaosland">
            <div class="chaos-wrapper">
                <Header />

                <slot/>

            </div>
            <Footer />
        </div>
    </body>
</html>