---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<style lang="scss">
  .chaos-title{
    grid-column: 1/-1;
    margin-top: 36px;
  }
  .chaos-post{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;

    margin-top: 12px;

    &-sidebar,
    &-content {
      grid-row: 1;
      align-self: start;
    }

    &-sidebar{
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / 7;

      &-metadata{
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/-1;

        >div{
          display: grid;
          grid-template-columns: subgrid;
          grid-column: 1 / -1;

          padding: 12px 0;

          border-bottom: 1px dotted #ddd;

          span{
            grid-column: span 5;

            &:first-child{
              grid-column: span 1;
            }
          }
        }

        &-tags{
          span:last-child{
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
          }
          .tag-item{
            padding: 3px 6px;

            color: gray;
            font-size: .9rem;

            border-radius: 3px;
            border: 1px dotted lightgray;
            background: #f8f8f8;
          }
        }
      }
    }

    &-content{
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 8 / 25;

      .chaos-markdown{
        grid-column: 1/-1;
      }
    }
  }

  .chaos-table-header{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;

    border-bottom: 1px dashed lightgray;

    &-label{
      display: flex;
      gap: 3px;
    }
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
    <h1 class="chaos-title">{frontmatter.title}</h1>
    <div class="chaos-post">
        <aside class="chaos-post-sidebar">
            <div class="chaos-table-header">
                <div class="chaos-table-header-label">
                    <span>/</span>
                    Metadata
                </div>
            </div>

            <div class="chaos-post-sidebar-metadata">
                <div>
                    <span>DATE:</span>
                    <span>{frontmatter.pubDate.toString().slice(0,10)}</span>
                </div>
                <div>
                    <span>AUTHOR:</span>
                    <span>{frontmatter.author}</span>
                </div>
                <div class="chaos-post-sidebar-metadata-tags">
                    <span>TAGS:</span>
                    <span>
                        {frontmatter.tags.map((tag: string) => (
                            <span class="tag-item">{tag}</span>
                        ))}
                    </span>
                </div>
            </div>
        </aside>
        <main class="chaos-post-content">
            <div class="chaos-table-header">
                <div class="chaos-table-header-label">
                    <span>/</span>
                    Article
                </div>
            </div>

            <div class="chaos-markdown">
                <slot />
            </div>
        </main>
    </div>
</BaseLayout>
